body {
    background-color: #e0ebe8;
}

hr {
    border-style: none;
    border-top: 5px dotted rgb(200,200,200);
    width: 7%;
}

h1 {
    color: #66BFBF;
}


h2 {
    color: #66BFBF;
}


h2 {
    color: #66BFBF;
}