body {
    margin: 0px;
}

.container {
    position:relative;
    height: 300px;
    width: 300px;
    background-color: peru;
}

.block {
    height: 100px;
    width: 100px;
    position:absolute;
}

.red {
    background-color: red;
    top:0;
    right:0;
}

.blue {
    background-color: blue;
    top:0;
    left:100px;
}

.yellow {
    background-color: yellow;
    top:0;
    left:0;
}