/*********************TAG SELECTORS*********************/

body {
    background-color: #e0ebe8;
    text-align: center;
}

/*********************CLASS SELECTORS*********************/

.top_box {
    padding-top:100px;
    position:relative;
    background-color: #b2cdc5;
}


.cloud {
    position:absolute;
}

.top-cloud {
    right:400px;
    top:25px;
}

.btm-cloud {
    top:200px;
    left:300px;
}

.mid_box {
    height: 200px;
    width: 200px;
    background-color: red;
}

.btm_box {
    height: 200px;
    width: 200px;
    background-color: yellow;
}

.dad_class {
    text-decoration:underline;
}

/*********************ID SELECTORS*********************/


