/*********************TAG SELECTORS*********************/

body {
    background-color: #e0ebe8;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.6rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}

a {
    color:#11999E;
}

/*********************CLASS SELECTORS*********************/

.top-container {
    padding-top:100px;
    position:relative;
    background-color: #b2cdc5;
}


.cloud {
    position:absolute;
}

.section-header-images {
    border-radius: 50%;
    height:200px;
}

.top-cloud {
    right:20%;
    top:7%;
    height:30%
}

.btm-cloud {
    bottom:10%;
    left:15%;
    height:30%
}

.middle-container {
    padding-top: 50px;
}

.bottom-container {
    text-align: left;
}

.footer-link {
    
}

.dad_class {
    text-decoration:underline;
}

/*********************ID SELECTORS*********************/


